
body{
  background-color: #4BAAE8;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
  
h1{
    font-family: 'Comic Neue', cursive;
    color: black;
    font-size: 28px;
    text-align: center;
  }
  

h2{
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  margin-top: 8%;
  margin-bottom: 4%;
}

h3{
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  text-decoration: underline;
}

p{
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  color: black;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
  background-color: white;
}

nav li a{
  display: block;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 10px, 12px;
  text-decoration: none;
}

nav li{
  float: right;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}
nav li a:hover{
    background-color: #4BAAE8;
    color: white;
}

nav a:active{
  background: white;
  padding: 10px;
}

nav a:hover{
  text-decoration: underline
}



.skip a{
  font-family: 'Noto Sans', sans-serif;
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  visibility: hidden;
}

.skip a:focus{
  position: absolute;
  top: 0px;
  margin: auto;
}

*:focus{
  border-style: solid;
  border-width: 2px;
}

button{
  font-family: 'Noto Sans', sans-serif;
  display: block;
  margin: 2% 2% auto auto;
}
/*Your Code Here*/
/*Write selector/rule property to style all elements when in focus*/

.header-txt{
  text-align: center;
  position: relative;
  color: white;
}
  
nav{
  background-color: #ddd;
  padding: 25px 0; 
  text-align: left;
}

footer{
  background-color: #4BAAE8;
  color: white;
  padding-top: 30px;
  text-align: center;
}



.main{
	display: block;
	background-color: #4BAAE8;
  }

.footer-contact a{
  margin: 10%;
  color: white
}


@media all and (min-width: 800px){
  
  

 
}

/*You do not need to modify any code below this line.
It is included for accessibility to turn off animations
and movement for people who have modified their 
preferences to reduce motion.*/
