html{
  scroll-behavior: smooth;
}

h1{
    font-family: 'Comic Neue', cursive;
    color: #4BAAE8;
    font-size: 28px;
    text-align: center;
    line-height: 2;
  }
  

h2{
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

h3{
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  text-decoration: underline;
}

p{
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  color: black;
}
nav li{
  display:inline;
  padding-right:20px;

}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover{
  text-decoration: underline
}



.skip a{
  font-family: 'Noto Sans', sans-serif;
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  visibility: hidden;
  /*Your code here*/
}

.skip a:focus{
  position: absolute;
  top: 0px;
  margin: auto;
}

*:focus{
  border-style: solid;
  border-width: 2px;
}

button{
  font-family: 'Noto Sans', sans-serif;
  display: block;
  margin: 2% 2% auto auto;
}
/*Your Code Here*/
/*Write selector/rule property to style all elements when in focus*/


nav{
  background-color: #ddd;
  padding: 25px 0; 
  text-align: left;
}

footer{
  background-color: 4BAAE8;
  color: white;
  padding-top: 30px;
  text-align: center;
}




.container{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-row-gap: 15px;
}

header{
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;



@media all and (min-width: 800px){
  nav{
    padding: 30px 0px;
    text-align: right;
    vertical-align: middle;
    /*Your code here:*/
  }

  .container{
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 400px 400px 400px 400px 400px;
    /*Your code here:*/
  }

 
}

/*You do not need to modify any code below this line.
It is included for accessibility to turn off animations
and movement for people who have modified their 
preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }