
body{
  background-color: #4BAAE8;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: white;
}
  
h1{
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    color: black;
    font-size: 60px;
    text-align: center;
  }

p{
  font-family: 'Comic Neue', cursive;
  color: white;
  font-size: 20px;
  text-align: center;
}
  

h2{
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  font-size: 32px;
  text-decoration: underline;
  color: white;
  margin: 2%;
}


/* HEADER*/
header{
  width: 100%;
	font-family: 'Comic Neue', cursive;
  font-size: 18px;
  position:absolute;
  background-color: #4BAAE8;
  z-index: 1;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  justify-content: center;
  padding: 3%;
}


.navbar{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.header-txt{
  position: relative;
  padding-top: 10%;
	padding-inline-start: 5%;
	padding-inline-end: 5%;
  color: #111;
}

.header-name-img{
  width: 20%;
  height: auto;
  align-items: center;
  position: relative;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2px;
}

.logo-img{
  float: left;
  display: inline;
  width: 4%;
  height: 4%;
}

/*NAV BAR*/





/*.menu-toggle{
  color: #ddd;
  font-size: 2rem;
  position: relative;
  top: 50%;
  cursor: pointer;
  z-index: 100;
} */

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4BAAE8;
}

nav li a{
  display: block;
  text-align: center;
  margin: 0;
  padding: 12px;
  text-decoration: none;
  color: white;
}

nav li{
  float: right;
}

nav li a:hover{
    background-color: #111;
    color: white;
}

nav a:active{
  color: #757575;
  padding: 10px;
}

nav a:hover{
  text-decoration: underline
}


.skip a{
  font-family: 'Noto Sans', sans-serif;
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  visibility: hidden;
}

.skip a:focus{
  position: absolute;
  top: 0px;
  margin: auto;
}

*:focus{
  border-style: solid;
  border-width: 2px;
}

button{
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  display: inline-block;
  text-align: right;
  margin: 8% 8% auto auto;
  background-color: black;
  opacity: 40%;
  color: white;
}

/*MAIN SECTION*/

.about{
  display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
  align-items: center;
  position: relative;
  margin-top: 15px;

}

.gallery, .price, .order{
  display:flex;
	flex-direction: column;
	flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  position: relative;
  padding: 2px;
}

.about img, .gallery img, .price img, .order img{
  width: 100%;
  height: auto;
}

.view-about, .view-gal, .view-price, .view-order{
  position: absolute;
  bottom: 6px;
  right: 10px;
  background-color: gray;
  color: white;
  padding: 3px;
}


/*
.aboutimage{
  width: "100%";
  height: auto;
  background: url("..images/IMG-2134.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.galleryimage{
  width: 100%;
  height: auto;
  background: url("..images/0AC03714-DAEF-476B-8711-A1032EDD2DDE.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

}
.priceimage{
  width: 100%;
  height: auto;
  background: url("..images/logo-1.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
 .orderimage{
  width: 100%;
  height: auto;
  background: url("..images/logo-1.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
*/



/*FOOTER*/

footer{
  background-color: #4BAAE8;
  color: white;
  padding-top: 30px;
  text-align: center;
  position: relative;
}

.footer-contact{
  margin: 10%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.footer-contact i{
  padding: 10%;
  color: white;
}

div.footer-contact{
	margin-bottom: 30px;
}

.footer-contact a:active, .footer-contact a:hover{
	color: white;
}

.copy{
  text-align: center;
  margin-bottom: 2rem;
}
/* For tablet*/
@media all and (min-width: 600px){

  

 
}



@media all and (min-width: 800px){
  
  

 
}


