
body{
  background-color: #4BAAE8;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
  
h1{
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    color: white;
    font-size: 60px;
    text-align: center;
  }
  

h2{
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  margin-top: 8%;
  margin-bottom: 4%;
}

h3{
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  text-decoration: underline;
}

/* HEADER*/
header{
  width: 100%;
	font-family: 'Comic Neue', cursive;
  font-size: 18px;
  position:absolute;
  background-color: #4BAAE8;
	z-index: 1;
}
/*NAV BAR*/
.navbar{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: inline-block;
  width: 3%;
}

.menu-toggle{
  color: #ddd;
  font-size: 2rem;
  position: relative;
  top: 50%;
  cursor: pointer;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
  background-color: white;
}

nav li a{
  display: block;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 10px, 12px;
  text-decoration: none;
}

nav li{
  float: right;
}

nav li a:hover{
    background-color: #4BAAE8;
    color: white;
}

nav a:active{
  background: white;
  padding: 10px;
}

nav a:hover{
  text-decoration: underline
}


.skip a{
  font-family: 'Noto Sans', sans-serif;
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  visibility: hidden;
}

.skip a:focus{
  position: absolute;
  top: 0px;
  margin: auto;
}

*:focus{
  border-style: solid;
  border-width: 2px;
}

button{
  font-family: 'Noto Sans', sans-serif;
  display: inline-block;
  margin: 8% 8% auto auto;
}

/*MAIN SECTION*/

.header-txt{
  text-align: center;
  position: relative;
  font-size: 60px;
  color: white;
}
  
/*
.mainphoto{
  background-attachment: fixed; 
  background-image: url('../images/logo-1.jpeg');      
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: 100%;       
  color: white;
  height: 400px;               
}
*/

.about, .gallery, .price, .order{
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  color: white;
}
.aboutimage{
  width: 100%;
  height: 80%;
  background: url("..images/IMG-2134.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.galleryimage{
  width: 100%;
  height: 80%;
  background: url("..images/0AC03714-DAEF-476B-8711-A1032EDD2DDE.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

}
.priceimage{
  width: 100%;
  height: 80%;
  background: url("..images/logo-1.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
 .orderimage{
  width: 100%;
  height: 80%;
  background: url("..images/logo-1.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}



/*FOOTER*/

footer{
  background-color: #4BAAE8;
  color: white;
  padding-top: 30px;
  text-align: center;
  position: relative;
}

.footer-contact{
  margin: 10%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.footer-contact i{
  padding: 10%;
  color: white;
}

.copy{
  text-align: center;
  margin-bottom: 2rem;
}
/* For tablet*/
@media all and (min-width: 600px){
  
  

 
}



@media all and (min-width: 800px){
  
  

 
}


